@{
    ViewBag.Title = "Add a new Playlist";
    Layout = null;
}
<form class="modal-content" >
    <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Playlist successfully added!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p >
            The playlist has been successfully added to the system. Now you can manage the media or start watching via the player.
        </p>
        <p style="text-align: center; font-size: 100px; color: green"><i class="fa-solid fa-check"></i></p>
    </div>
    <div class="modal-footer">
        <button type="button" onclick="location.reload()" class="btn btn-primary">Continue</button>
    </div>
</form>
