@{
    ViewData["Title"] = "MY IPTV Online Player";
}


    <p>Our IPTV online player application combines security, personalization, and innovative features to enhance your viewing experience. Designed to operate locally on your device, it guarantees privacy and ensures your information is never shared with third parties.</p>
    <p>With our easy-to-use channel customization and category management system, you have the freedom to organize your content exactly how you like it. Enjoy unique features such as live pause and resume, an intelligent recommendation system that learns your preferences for more personalized suggestions, and multi-device synchronization, allowing you to pick up where you left off on any device.</p>
    <p>Experience the ultimate in convenience and control over your IPTV viewing with our dedicated application.</p>